Install.packages(c(“ggplot2”, “ggpubr”, “tidyverse”, “broom”, “AICcmodavg”))
Library(ggplot2)
Library(ggpubr)
Library(tidyverse)
Library(broom)
Library(AICcmodavg)
# If .txt tab file, use this
My_data <- read.delim(file.choose())
# Or, if .csv file, use this
My_data <- read.csv(file.choose())
# Show a random sample
Set.seed(1234)
Dplyr::sample_n(my_data, 10)
My_data$group <- ordered(my_data$group,
                         Levels = c(“ctrl”, “trt1”, “trt2”))

Library(dplyr)
Group_by(my_data, group) %>%
  Summarise(
    Count = n(),
    Mean = mean(weight, na.rm = TRUE),
    Sd = sd(weight, na.rm = TRUE)
  )
# Install
If(!require(devtools)) install.packages(“devtools”)
Devtools::install_github(“kassambara/ggpubr”)

# Mean plots
# Plot weight by group
# Add error bars: mean_se
# (other values include: mean_sd, mean_ci, median_iqr, ….)
Library(“ggpubr”)
Ggline(my_data, x = “group”, y = “weight”, 
       Add = c(“mean_se”, “jitter”), 
       Order = c(“ctrl”, “trt1”, “trt2”),
       Ylab = “Weight”, xlab = “Treatment”)
# Compute the analysis of variance
Res.aov <- aov(weight ~ group, data = my_data)
# Summary of the analysis
Summary(res.aov)


